.tw-card {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-card-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-card-info {
    display: flex;
    flex-direction: column;
}

.tw-card-info-user {
    opacity: .6;
}

.tw-card-avatar {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.tw-card-button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
}

.tw-card-text {
    display: block;
}

.tw-card-button:hover {
    background-color: rgb(0, 255, 170);
    transition: .3s ease background-color;
}

.tw-card-button.is-following {
    background-color: rgb(0, 153, 255);
    width: 140px;
}

.tw-card-button.is-following:hover .tw-card-button-text {
    display: none;
}   

.tw-card-button.is-following:hover {
    background-color: red;
    transition: all;
}

.tw-card-button.is-following:hover .tw-card-button-stop-follow {
    display: block;
}

.tw-card-button-stop-follow {
    display: none;
}